d
{# Weekly tithing #}
<div class="qwerty">
  <h2>{{ 'Based on your ' ~ content.tithe_percentage ~ '% tithe: '  }}</h2>
  <div class="row">
    <div class="col-xs-12">
      {{ 'Your tithe is £30 a week' }}
    </div>
    <div class="col-xs-12">
      {{ 'In a month you, would have tithed £120' }}
    </div>
    <div class="col-xs-12">
      {{ 'In a year you, would have tithed £120' }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ 'Continue to tithe my fellow brethren' }}
    </div>
    <div class="col-xs-12">
      {{ 'Lorem ipsum dolor sit amet, co' }}
    </div>
  </div>
  {{ content }}
</div>

{# Yearly tithing #}
