<div class="container">
  <div class="tc-results text-center">
    <h2>{{ 'Based on your ' ~ content.tithe_percentage ~ '% tithe: '  }}</h2>
    <div class="row">
      <div class="col-12">
        <h3>{{ 'Your ' ~ content.frequency ~ ' tithe is £' ~ content.tithe_amount ~ '.' }}</h3>
      </div>
      <div class="col-12">
        <h3>{{ 'In a year you, would have tithed £' ~ content.yearly_tithe ~ '.' }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>{{ 'That\'s amazing! Don\'t stop!' }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>{{ 'Continue to tithe my fellow brethren' }}</h3>
      </div>
    </div>
    <div class="row"><a href="/ministries" class="results-button">Thinking of giving to His Kingdom ?</a></div>
  </div>
</div>
